@{
    ViewBag.Title = "Lê Văn Hoàng";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài thi giữa kỳ của Lê Văn Hoàng - Cam kết không đạo văn </h3>

<address>
    K22CNT3 - Môn lập trình ứng dụng Web Công Nghệ ASP.NET MVC5
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Chungtrinhj@gmail.com">Chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:levanhoang742004@gmail.com">Levanhoang742004@gmail.com</a>
</address>